<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<form class="form-inline my-2 my-lg-0 mr-auto col-12 col-lg-8" *ngIf="avtocard.isActive">
		<select class="form-control new-select-style-wpandyou mr-3 col-12 col-lg-5" id="inputGroupSelect01">
			<option value="1"selected>0001А-АНижний Новгород</option>
			<option value="2">0002А-БНижний Новгород</option>
			<option value="3">0003А-ВНижний Новгород</option>
		</select>
		<input class="form-control mr-3 col-12 col-lg-5 search" type="search" aria-label="Search">
	</form>
	<form class="form-inline my-2 my-lg-0 mr-auto col-lg-8" *ngIf="drivercard.isActive">
		<select class="form-control new-select-style-wpandyou mr-2 col-12 col-lg-4" id="inputGroupSelect01">
			<option value="1"selected>0001А-АНижний Новгород</option>
			<option value="2">0002А-БНижний Новгород</option>
			<option value="3">0003А-ВНижний Новгород</option>
		</select>
		<select class="form-control new-select-style-wpandyou mr-2 col-12 col-lg-2" id="inputGroupSelect01">
			<option value="1" selected>Все статусы</option>
			<option value="2">На месте</option>
			<option value="3">Не на месте</option>
			<option value="4">В пути</option>
		</select>
		<input class="form-control mr-2 col-12 col-lg-4 search" type="search" aria-label="Search">
	</form>
	<div class="menu-static d-flex justify-content-around col-12 col-lg-4">
		<a routerLink="avtocard" class="col-6 text-center" routerLinkActive="active" #avtocard="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">Автомобили</a>
		<a routerLink="drivercard" class="col-6 text-center" routerLinkActive="active" #drivercard="routerLinkActive">Водители</a>
	</div>
</nav>


<router-outlet></router-outlet>